* {
    font-family: "Open Sans", sans-serif;
    color: #333;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
    background: #2c3e50;
    color: #ecf0f1;
    line-height: 1.618em;
}

footer {
    position: fixed;
    color: #FFF;
    width: 100%;
    bottom: 0;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    z-index: 3;
    background: #2c3e50;
}

h1 {
    color: #FFF;
    size: 60pt;
    margin-top: 10px;
    margin-bottom: -30px;
    text-align: center;
}

.wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
}
.tabs {
    position: relative;
    margin: 3rem 0;
    background: #1abc9c;    
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    position: relative;
    text-align: center;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #1abc9c;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
}
.tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
}
.tab-content {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
    padding-bottom: 50px;
}
.tab-switch:checked + .tab-label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
}

.cms-link {
    text-align: center;
    margin: 10px;
}

/*.jumbotron {
    text-align: center;
}*/

/*@media screen and (max-width: 767px) {
    html {
        font-size: .8rem;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    html {
        font-size: 1rem;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    html {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1200px) {
    html {
        font-size: 1.4rem;
    }
}*/

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
