<h2>Language documentation</h2>
<p> You may use any of the following documentation during the contest: </p>
<ul class="list-unstyled">
    <li> C/C++
        <ul> <li>
                CPP Reference [<a href="docs/cppreference/en/Main_Page.html">C++17</a>]
        </li> </ul>
    </li>
    <li> Java
        <ul> <li>
                Java API specification [<a href="docs/java-sdk-docs-11/index.html">11</a>]
        </li> </ul>
    </li>
    <li> Python
        <ul> <li>
                Python documentation [<a href="docs/python-docs-3.7/index.html">3.7</a>]
        </li> </ul>
    </li>
    <li> Pascal
        <ul> <li>
                Free Pascal [<a href="docs/fpc/fpctoc.html">3.0.4</a>]
        </li> </ul>
    </li>
</ul>
