<p>
    Here you can browse old SAPO problems. Many recent contests can instead be found on the Contest Server.
</p>
<p>
    If you spot a mistake in a task, please send an email to <a href="mailto:admin@saco-evaluator.org.za">admin@saco-evaluator.org.za</a>.
</p>
<p>
    For more specific help with SACO Final questions, you can also take a look at these
    <a href="aqu-editorials/index.html">SACO Editorials</a> written
    by Andi Qu (2019 & 2020 Gold Medallist).
</p>
<br>
<h2>Second round</h2>
<p>
    More recent first and second round question papers and solutions can be found <a
    href="https://olympiad.org.za/programming-olympiad/past-papers/school-rounds/">here</a>.
</p>
<p>Download all the Round 2 papers up to 2010: <a href="old/R2.tar.gz">R2.tar.gz</a> <i>[3.3Mb]</i></p>
<table class="table table-bordered">
    <tr class="thead-dark">
        <th>Year</th>
        <th>START</th>
        <th>OPEN</th>
        <th>Solutions</th>
    </tr>
    <tr>
        <td>1999</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 1999.pdf">[PDF]</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>2000</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2000.pdf">[PDF]</a></td>
        <td><a href="old/R2/SACO R2 2000 (Solutions)">[Solutions]</a></td>
    </tr>
    <tr>
        <td>2001</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2001.pdf">[PDF]</a></td>
        <td><a href="old/R2/SACO R2 2001 (Solutions)">[Solutions]</a></td>
    </tr>
    <tr>
        <td>2002</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2002.pdf">[PDF]</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>2003</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2003.pdf">[PDF]</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>2004</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2004.pdf">[PDF]</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>2005</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2005.pdf">[PDF]</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>2006</td>
        <td><a href="old/R2/SACO R2 2006 (Start).pdf">[PDF]</a></td>
        <td><a href="old/R2/SACO R2 2006.pdf">[PDF]</a></td>
        <td>-</td>
    </tr>
    <tr>
        <td>2007</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2007.pdf">[PDF]</a></td>
        <td><a href="old/R2/SACO R2 2007 (Solutions)">[Solutions]</a></td>
    </tr>
    <tr>
        <td>2008</td>
        <td>-</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2008 (Solutions)">[Solutions]</a></td>
    </tr>
    <tr>
        <td>2009</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2009.pdf">[PDF]</a></td>
        <td><a href="old/R2/SACO R2 2009 (Solutions)">[Solutions]</a></td>
    </tr>
    <tr>
        <td>2010</td>
        <td>-</td>
        <td><a href="old/R2/SACO R2 2010.pdf">[PDF]</a></td>
        <td><a href="old/R2/SACO R2 2010 (Solutions)">[Solutions]</a></td>
    </tr>
</table>
<br>
<h2>Final round</h2>
<table class="table table-bordered">
    <tr class="thead-dark">
        <th>Year</th>
        <th>Day 1</th>
        <th>Day 2</th>
        <th>Handin system</th>
    </tr>
    <tr>
        <td>1998</td>
        <td><a href="old/saco1998/day1_1998.pdf">[PDF]</a>
        <a href="old/saco1998/day1_1998.doc">[Word]</a></td>
        <td><a href="old/saco1998/day2_1998.pdf">[PDF]</a>
        <a href="old/saco1998/day2_1998.doc">[Word]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td>1999</td>
        <td><a href="old/saco1999/day1_1999.pdf">[PDF]</a>
        <a href="old/saco1999/day1_1999.doc">[Word]</a></td>
        <td><a href="old/saco1999/day2_1999.pdf">[PDF]</a>
        <a href="old/saco1999/day2_1999.doc">[Word]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td>2000</td>
        <td><a href="old/saco2000/day1_2000.pdf">[PDF]</a>
        <a href="old/saco2000/day1_2000.doc">[Word]</a></td>
        <td><a href="old/saco2000/day2_2000.pdf">[PDF]</a>
        <a href="old/saco2000/day2_2000.doc">[Word]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td>2001</td>
        <td><a href="old/saco2001/day1_2001.pdf">[PDF]</a>
        <a href="old/saco2001/day1_2001.doc">[Word]</a></td>
        <td><a href="old/saco2001/day2_2001.pdf">[PDF]</a>
        <a href="old/saco2001/day2_2001.doc">[Word]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td>2002</td>
        <td><a href="old/saco2002/day1_2002.pdf">[PDF]</a>
        <a href="old/saco2002/day1_2002.doc">[Word]</a></td>
        <td><a href="old/saco2002/day2_2002.pdf">[PDF]</a>
        <a href="old/saco2002/day2_2002.doc">[Word]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td>2003</td>
        <td><a href="old/saco2003/day1_2003.pdf">[PDF]</a>
        <a href="old/saco2003/day1_2003.doc">[Word]</a></td>
        <td><a href="old/saco2003/day2_2003.pdf">[PDF]</a>
        <a href="old/saco2003/day2_2003.doc">[Word]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td>2004</td>
        <td><a href="old/saco2004/day1_2004.pdf">[PDF]</a></td>
        <td><a href="old/saco2004/day2_2004.pdf">[PDF]</a>
        <a href="old/saco2004/day2_2004_solutions.pdf">[Solutions]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td>2005</td>
        <td><a href="old/saco2005/day1_2005.pdf">[PDF]</a>
        <a href="old/saco2005/day1_2005_solutions.pdf">[Solutions]</a></td>
        <td><a href="old/saco2005/day2_2005.pdf">[PDF]</a>
        <a href="old/saco2005/day2_2005_solutions.pdf">[Solutions]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td>2006</td>
        <td><a href="old/saco2006/day1_2006.pdf">[Open]</a>
        <a href="old/saco2006/day1_2006_junior.pdf">[Future stars]</a>
        <a href="old/saco2006/day1_2006_solutions.pdf">[Solutions]</a></td>
        <td><a href="old/saco2006/day2_2006.pdf">[Open]</a>
        <a href="old/saco2006/day2_2006_junior.pdf">[Future stars]</a>
        <a href="old/saco2006/day2_2006_solutions.pdf">[Solutions]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td rowspan="2">2007</td>
        <td><a href="old/saco2007/day1_2007.pdf">[Open]</a>
        <a href="old/saco2007/day1_2007_junior.pdf">[Future stars]</a>
        <a href="old/saco2007/day1_2007_solutions.pdf">[Solutions]</a></td>
        <td><a href="old/saco2007/day2_2007.pdf">[Open]</a>
        <a href="old/saco2007/day2_2007_junior.pdf">[Future stars]</a>
        <a href="old/saco2007/day2_2007_solutions.pdf">[Solutions]</a></td>
        <td>No</td>
    </tr>
    <tr>
        <td/>
            <td/>
                <a href="old/saco2007/taunter.pdf">[Taunter Pres]</a>
                <a href="old/saco2007/search.pdf">[Search Pres]</a></td>
                <td>
                </td>
            </tr>
            <tr>
                <td>2008</td>
                <td><a href="old/saco2008/day1_2008.pdf">[Open]</a>
                <a href="old/saco2008/day1_2008_junior.pdf">[Future stars]</a>
                <a href="old/saco2008/day1_2008_solutions.pdf">[Solutions]</a></td>
                <td><a href="old/saco2008/day2_2008.pdf">[Open]</a>
                <a href="old/saco2008/day2_2008_junior.pdf">[Future stars]</a>
                <a href="old/saco2008/day2_2008_solutions.pdf">[Solutions]</a></td>
                <td><a href="/cms/sapo2008">Yes</a></td>
            </tr>
            <tr>
                <td>2009</td>
                <td><a href="old/saco2009/day1_2009.pdf">[PDF]</a>
                <a href="old/saco2009/day1_2009_solutions.pdf">[Solutions]</a></td>
                <td><a href="old/saco2009/day2_2009.pdf">[PDF]</a>
                <a href="old/saco2009/day2_2009_solutions.pdf">[Solutions]</a></td>
                <td><a href="/cms/sapo2009">Yes</a></td>
            </tr>
            <tr>
                <td>2010</td>
                <td><a href="old/saco2010/day1_2010.pdf">[PDF]</a>
                <a href="old/saco2010/day1_2010_solutions.pdf">[Solutions]</a></td>
                <td><a href="old/saco2010/day2_2010.pdf">[PDF]</a>
                <a href="old/saco2010/day2_2010_solutions.pdf">[Solutions]</a></td>
                <td><a href="/cms/sapo2010">Yes</a></td>
            </tr>
            <tr>
                <td>2011</td>
                <td><a href="old/saco2011/day1_2011.pdf">[PDF]</a>
                <a href="old/saco2011/day1_2011_solutions.pdf">[Solutions]</a></td>
                <td><a href="old/saco2011/day2_2011.pdf">[PDF]</a>
                <a href="old/saco2011/day2_2011_solutions.pdf">[Solutions]</a></td>
                <td><a href="/cms/sapo2011">Yes</a></td>
            </tr>
            <tr>
                <td>2012</td>
                <td><a href="old/saco2012/day1_2012.pdf">[PDF]</a></td>
                <td><a href="old/saco2012/day2_2012.pdf">[PDF]</a></td>
                <td><a href="/cms/sapo2012">Yes</a></td>
            </tr>
            <tr>
                <td>2013</td>
                <td><a href="old/sapo2013/day1_2013.pdf">[PDF]</a>
            </td>
            <td><a href="old/sapo2013/day2_2013.pdf">[PDF]</a>
        </td>
        <td><a href="/cms/sapo2013z">Yes</a></td>
    </tr>
    <tr>
        <td>2014</td>
        <td><a href="old/sapo2014/day1_2014.pdf">[PDF]</a>
    </td>
    <td><a href="old/sapo2014/day2_2014.pdf">[PDF]</a>
</td>
<td><a href="/cms/sapo2014z">Yes</a></td>
</tr>
<tr>
<td>2015</td>
<td><a href="old/sapo2015/day1_2015.pdf">[PDF]</a>
</td>
<td><a href="old/sapo2015/day2_2015.pdf">[PDF]</a>
</td>
<td><a href="/cms/sapo2015z">Yes</a></td>
</tr>
<tr>
<td>2016</td>
<td><a href="old/sapo2016/day1_2016.pdf">[PDF]</a>
<a href="old/sapo2016/2016_solutions.pdf">[Solutions]</a></td>
<td><a href="old/sapo2016/day2_2016.pdf">[PDF]</a>
<a href="old/sapo2016/2016_solutions.pdf">[Solutions]</a></td>
<td><a href="/cms/sapo2016z">Yes</a></td>
</tr>
<tr>
<td>2017</td>
<td><a href="old/sapo2017/day1_2017.pdf">[PDF]</a>
</td>
<td><a href="old/sapo2017/day2_2017.pdf">[PDF]</a>
</td>
<td><a href="/cms/sapo2017z">Yes</a></td>
</tr>
<tr>
<td>2018</td>
<td><a href="old/sapo2018/day1_2018.pdf">[PDF]</a>
</td>
<td><a href="old/sapo2018/day2_2018.pdf">[PDF]</a>
</td>
<td><a href="/cms/sapo2018z">Yes</a></td>
</tr>
</table>
<br>
<h2>Training</h2>
<p>
Every year, 4 finalists from the South African Computer Olympiad are
selected to represent South Africa at the
<a href="http://www.ioinformatics.org">International Olympiad in Informatics</a>.
</p>
<table class="table table-bordered">
<tr class="thead-dark">
<th>Year</th>
<th>Event</th>
<th>Day 1</th>
<th>Day 2</th>
<th>Handin</th>
</tr>
<tr>
<td rowspan=4>2002</td>
<td>1st camp</td>
<td><a href="old/camp1_2002/day1_camp1_2002.pdf">[PDF]</a>
<a href="old/camp1_2002/day1_camp1_2002.doc">[Word]</a></td>
<td><a href="old/camp1_2002/day2_camp1_2002.pdf">[PDF]</a>
<a href="old/camp1_2002/day2_camp1_2002.doc">[Word]</a></td>
<td><a href="old//contests/2002/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td><a href="old/camp2_2002/day1_camp2_2002.pdf">[PDF]</a>
<a href="old/camp2_2002/day1_camp2_2002.doc">[Word]</a></td>
<td><a href="old/camp2_2002/day2_camp2_2002.pdf">[PDF]</a>
<a href="old/camp2_2002/day2_camp2_2002.doc">[Word]</a></td>
<td><a href="old//contests/2002/camp2/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2002/day1_camp3_2002.pdf">[PDF]</a>
<a href="old/camp3_2002/day1_camp3_2002.doc">[Word]</a></td>
<td>-</td>
<td><a href="old//contests/2002/camp3/">Yes</a></td>
</tr>
<tr>
<td>Web training</td>
<td>See handin</td>
<td>See handin</td>
<td><a href="old//contests/2002/web/">Yes</a></td>
</tr>
<tr>
<td rowspan=4>2003</td>
<td>1st camp</td>
<td><a href="old/camp1_2003/day1_camp1_2003.pdf">[PDF]</a>
<a href="old/camp1_2003/day1_camp1_2003.doc">[Word]</a></td>
<td><a href="old/camp1_2003/day2_camp1_2003.pdf">[PDF]</a>
<a href="old/camp1_2003/day2_camp1_2003.doc">[Word]</a></td>
<td><a href="old//contests/2003/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td><a href="old/camp2_2003/day1_camp2_2003.pdf">[PDF]</a>
<a href="old/camp2_2003/day1_camp2_2003.doc">[Word]</a></td>
<td><a href="old/camp2_2003/day2_camp2_2003.pdf">[PDF]</a>
<a href="old/camp2_2003/day2_camp2_2003.doc">[Word]</a></td>
<td><a href="old//contests/2003/camp2/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2003/day1_camp3_2003.pdf">[PDF]</a>
<a href="old/camp3_2003/day1_camp3_2003.doc">[Word]</a></td>
<td>-</td>
<td><a href="old//contests/2003/camp3/">Yes</a></td>
</tr>
<tr>
<td>Web training</td>
<td>See handin</td>
<td>See handin</td>
<td><a href="old//contests/2003/web/">Yes</a></td>
</tr>
<tr>
<td rowspan=4>2004</td>
<td>1st camp</td>
<td><a href="old/camp1_2004/day1_camp1_2004.pdf">[PDF]</a>
<a href="old/camp1_2004/day1_camp1_2004.doc">[Word]</a></td>
<td><a href="old/camp1_2004/day2_camp1_2004.pdf">[PDF]</a>
<a href="old/camp1_2004/day2_camp1_2004.doc">[Word]</a></td>
<td><a href="old//contests/2004/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td><a href="old/camp2_2004/day1_camp2_2004.pdf">[PDF]</a>
<a href="old/camp2_2004/day1_camp2_2004.doc">[Word]</a></td>
<td><a href="old/camp2_2004/day2_camp2_2004.pdf">[PDF]</a>
<a href="old/camp2_2004/day2_camp2_2004.doc">[Word]</a></td>
<td><a href="old//contests/2004/camp2/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2004/day1_camp3_2004.pdf">[PDF]</a></td>
<td><a href="old/camp3_2004/day2_camp3_2004.pdf">[PDF]</a></td>
<td><a href="old//contests/2004/camp3/">Yes</a></td>
</tr>
<tr>
<td>Web training</td>
<td>See handin</td>
<td>See handin</td>
<td><a href="old//contests/2004/web/">Yes</a></td>
</tr>
<tr>
<td rowspan=4>2005</td>
<td>1st camp</td>
<td><a href="old/camp1_2005/day1_camp1_2005.pdf">[PDF]</a></td>
<td><a href="old/camp1_2005/day2_camp1_2005.pdf">[PDF]</a></td>
<td><a href="old//contests/2005/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td><a href="old/camp2_2005/day1_camp2_2005.pdf">[PDF]</a></td>
<td><a href="old/camp2_2005/day2_camp2_2005.pdf">[PDF]</a></td>
<td><a href="old//contests/2005/camp2/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2005/day1_camp3_2005.pdf">[PDF]</a></td>
<td><a href="old/camp3_2005/day2_camp3_2005.pdf">[PDF]</a></td>
<td><a href="old//contests/2005/camp3/">Yes</a></td>
</tr>
<tr>
<td>Web training</td>
<td>See handin</td>
<td>See handin</td>
<td><a href="old//contests/2005/web/">Yes</a></td>
</tr>
<tr>
<td rowspan=3>2006</td>
<td>1st camp</td>
<td><a href="old/camp1_2006/day1_camp1_2006.pdf">[PDF]</a></td>
<td><a href="old/camp1_2006/day2_camp1_2006.pdf">[PDF]</a></td>
<td><a href="old//contests/2006/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td><a href="old/camp2_2006/day1_camp2_2006.pdf">[PDF]</a></td>
<td><a href="old/camp2_2006/day2_camp2_2006.pdf">[PDF]</a></td>
<td><a href="old//contests/2006/camp2/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2006/day1_camp3_2006.pdf">[PDF]</a></td>
<td><a href="old/camp3_2006/day2_camp3_2006.pdf">[PDF]</a></td>
<td><a href="old//contests/2006/camp3/">Yes</a></td>
</tr>
<tr>
<td rowspan=3>2007</td>
<td>1st camp</td>
<td><a href="old/camp1_2007/day1_camp1_2007.pdf">[PDF]</a></td>
<td><a href="old/camp1_2007/day2_camp1_2007.pdf">[PDF]</a></td>
<td><a href="old//contests/2007/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td><a href="old/camp2_2007/day1_camp2_2007.pdf">[PDF]</a></td>
<td><a href="old/camp2_2007/day2_camp2_2007.pdf">[PDF]</a></td>
<td><a href="old//contests/2007/camp2/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2007/day1_camp3_2007.pdf">[PDF]</a></td>
<td><a href="old/camp3_2007/day2_camp3_2007.pdf">[PDF]</a></td>
<td><a href="old//contests/2007/camp3/">Yes</a></td>
</tr>
<tr>
<td rowspan=5>2008</td>
<td>Online camp</td>
<td><a href="old/camp0_2008/day1_camp0_2008.pdf">[PDF]</a>
<a href="old/camp0_2008/day1_camp0_2008_discussions.pdf">[Solutions]</a></td>
<td><a></a></td>
<td><a href="old//contests/2008/camp0/">Yes</a></td>
</tr>
<tr>
<td>1st camp</td>
<td><a href="old/camp1_2008/day1_camp1_2008.pdf">[PDF]</a></td>
<td><a href="old/camp1_2008/day2_camp1_2008.pdf">[PDF]</a></td>
<td><a href="old//contests/2008/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td><a href="old/camp2_2008/day1_camp2_2008.pdf">[PDF]</a></td>
<td><a href="old/camp2_2008/day2_camp2_2008.pdf">[PDF]</a></td>
<td><a href="old//contests/2008/camp2/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2008/day1_camp3_2008.pdf">[PDF]</a></td>
<td><a href="old/camp3_2008/day2_camp3_2008.pdf">[PDF]</a></td>
<td><a href="old//contests/2008/camp3/">Yes</a></td>
</tr>
<tr>
<td>Web training</td>
<td>See handin</td>
<td>See handin</td>
<td><a href="old//contests/2008/web/">Yes</a></td>
</tr>
<tr>
<td rowspan="4">2009</td>
<td>1st camp</td>
<td><a href="old/camp1_2009/day1_camp1_2009.pdf">[PDF]</a>
<a href="old/camp1_2009/day1_camp1_2009_solutions.pdf">[Solutions]</a></td>
<td><a href="old/camp1_2009/day2_camp1_2009.pdf">[PDF]</a>
<a href="old/camp1_2009/day2_camp1_2009_solutions.pdf">[Solutions]</a></td>
<td><a href="old//contests/2009/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td><a href="old/camp2_2009/day1_camp2_2009.pdf">[PDF]</a></td>
<td><a href="old/camp2_2009/day2_camp2_2009.pdf">[PDF]</a></td>
<td><a href="old//contests/2009/camp2/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2009/day1_camp3_2009.pdf">[PDF]</a></td>
<td><a href="old/camp3_2009/day2_camp3_2009.pdf">[PDF]</a></td>
<td><a href="old//contests/2009/camp3/">Yes</a></td>
</tr>
<tr>
<td>Web training</td>
<td><a href="old/march_2009/march_2009.pdf">[PDF]</a>
<a href="old/march_2009/march_2009_solutions.pdf">[Solutions]</a></td>
<td><a href="old/may_2009/may_2009.pdf">[PDF]</a>
<a href="old/may_2009/may_2009_solutions.pdf">[Solutions]</a></td>
<td><a href="old//contests/2009/web/">Yes</a></td>
</tr>
<tr>
<td rowspan="2">2010</td>
<td>1st camp</td>
<td><a></a></td>
<td><a href="old/camp1_2010/day2_camp1_2010.pdf">[PDF]</a></td>
<td><a href="old//contests/2010/camp1/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2010/day1_camp3_2010.pdf">[PDF]</a></td>
<td><a href="old/camp3_2010/day2_camp3_2010.pdf">[PDF]</a></td>
<td><a href="old//contests/2010/camp3/">Yes</a></td>
</tr>
<tr>
<td rowspan="2">2011</td>
<td>1st camp</td>
<td>&nbsp;</td>
<td><a href="old/camp1_2011/day2_camp1_2011.pdf">[PDF]</a></td>
<td><a href="old//contests/2011/camp1/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2011/day1_camp3_2011.pdf">[PDF]</a></td>
<td>&nbsp;</td>
<td><a href="old//contests/2011/camp3/">Yes</a></td>
</tr>
<tr>
<td rowspan="3">2012</td>
<td>1st camp</td>
<td>&nbsp;</td>
<td><a href="old/camp1_2012/day2_camp1_2012.pdf">[PDF]</a></td>
<td><a href="old//contests/2012/camp1/">Yes</a></td>
</tr>
<tr>
<td>2nd camp</td>
<td>&nbsp;</td>
<td><a href="old/camp2_2012/day2_camp2_2012.pdf">[PDF]</a></td>
<td><a href="old//contests/2012/camp3/">Yes</a></td>
</tr>
<tr>
<td>3rd camp</td>
<td><a href="old/camp3_2012/day1_camp3_2012.pdf">[PDF]</a></td>
<td><a href="old/camp3_2012/day2_camp3_2012.pdf">[PDF]</a></td>
<td><a href="old//contests/2012/camp3/">Yes</a></td>
</tr>
</table>
