<p>
    Every year, 2-6 camps are held to train the team members for the
    International Olympiad in Informatics. Part of these camps
    involves presentations on useful topics, mostly by the students
    themselves.
</p>

<p>
    If you are having trouble loading the PDF presentations in your
    browser, try downloading them offline by right-clicking the link,
    and then clicking "Save Link As".
</p>

{% include 'tabs/presentations_items.html' %}
