<h2> Contents </h2>

<ol>
    <li>
        <a href="#r1">First Round</a>
    </li>
    <li>
        <a href="#r2">Second Round</a>
        <ol>
            <li><a href="#r2_python">Learning Python</a></li>
            <li><a href="#r2_practice">Practice</a></li>
            <li>
                <a href="#r2_alg">Algorithms and Data Structures</a>
            </li>
            <li><a href="#r2_advice">General Advice</a></li>
            <li><a href="#r2_ask">Ask Questions</a></li>
        </ol>
    </li>
    <li>
        <a href="#r3">Final Round</a>
        <ol>
            <li><a href="#r3_practice">Practice</a></li>
            <li>
                <a href="#r3_alg">Algorithms and Data Structures</a>
            </li>
            <li><a href="#r3_contests">Other Contests</a></li>
        </ol>
    </li>
    <li>
        <a href="#ioi"
            >International Olympiad in Informatics (IOI)</a
        >
    </li>
    <li>
        <a href="#external_links">External Links</a>
    </li>
</ol>

<br>

<h2><a name="r1">First Round</a></h2>

<p>
    The first round of SAPO is open for one week in July or August.
    The contest lasts for 1 hour and consists of three questions,
    each containing usually four to six test cases of varying
    complexity. The questions will ask you to write and debug a
    program that solves a given task.
</p>

<p>
    This round tests the basic fundamentals of programming. For
    example, if you're familiar with if-statements, for loops, while
    loops and basic arrays/lists, then the first round should not be
    much trouble.
</p>

<br>

<h2><a name="r2">Second Round</a></h2>

<p>
    The second round is open on a given day, usually within three
    weeks of Round 1. The contest itself is 2 hours long and
    consists of three to five questions of a more challenge
    nature than that of the previous round. Each question may
    consist of different subtasks of increasing difficulty. The aim
    of this round is similar to the previous round (write code to
    solve a problem), however this time you will be required to
    submit your code on our
    <a href="cms/">online evaluator</a>. It therefore must
    produce the exact correct output for every test case in order to
    score full marks.
</p>

<p>
    This round goes beyond programming basics and tests elementary
    algorithms and data structures. The sections below outline how
    to prepare for the second round from learning to program to
    mastering the more challenging questions.
</p>

<h3><a name="r2_python">Learning Python</a></h3>

<p>
    If you have no experience with programming then Python is a
    great language to start with. If you have learned Java, Pascal
    or Delphi at school, or any other language for that matter, you
    might also be interested in learning Python as a new programming
    language.
</p>

<p>
    The free ebook <i>A Byte of Python</i> is targeted at beginner
    programmers (i.e. if you have little or no knowledge of
    programming). You can
    <a href="https://python.swaroopch.com/">read it online</a> or
    <a
        href="https://www.gitbook.com/download/pdf/book/swaroopch/byte-of-python"
        >download a PDF</a
    >. It covers downloading and installing Python so those
    instructions won't be repeated here.
</p>

<p>
    <i>Dive Into Python</i> is another free ebook, but targeted at
    experienced programmers looking for a rapid jump into Python. It
    is useful if you are already thoroughly understand another
    programming language. You can read it online as a PDF
    <a href="http://histo.ucsf.edu/BMS270/diveintopython3-r802.pdf"
        >here</a
    >.
</p>

<h3><a name="r2_practice">Practice</a></h3>

<p>
    The Computer Olympiad website has a collection of past first and
    second round papers dating back to 2009
    <a href="https://olympiad.org.za/programming-olympiad/past-papers/school-rounds/">
        here</a>.
    Some solutions are available <a href="?page=pastpapers">here</a>.
    Solving these problems as practice will prepare you well for the
    second round. You should also time yourself, remembering that
    the paper is two hours long.
</p>

<p>
    For those who complete all the past second round papers and want
    more challenging problems to practice on, there are plenty of
    such resources! The best place to go is the
    <a href="https://train.usaco.org/usacogate"
        >USACO Training Program</a
    >, which allows you to progress from easy to very challenging
    problems as well as testing your code against secret test data.
    This is an excellent resource and has several problems with a
    wide range of difficulty.
</p>

<h3><a name="r2_alg">Algorithms and Data Structures</a></h3>

<p>
    In the second round, the last problem (as well as sometimes
    the one before it) almost always tests algorithms and/or data
    structures. The USACO Training Program mentioned above has some
    articles as you proceed through the problems. Another useful
    collection of articles on data structures and algorithms is by
    Bruce Merry, the most successful SAPO contestant to date,
    available
    <a href="http://www.brucemerry.org.za/manual/">here</a>.
</p>

<h3><a name="r2_advice">General Advice</a></h3>

<p>
    There are many aspects of contest programming that differ from
    everyday programming. You do <i>not</i> need to check that the
    input matches the constraints -- these are only there to give
    you a guarantee on the input.
</p>

<p>
    Time is everything. You only have two hours to solve four
    problems in Round 2. If you think the problems are easy, try
    timing yourself while doing one of the past papers. This is where
    Python becomes useful, as the code is almost always less than
    half the length of Java, C++ or Pascal code. You do not need to go
    for the most complex solution, just one that solves the problem
    for the provided test cases in a reasonable amount of time and
    memory. The last problem (and sometimes also the one before it) will
    require a clever solution, even if a brute force solution could
    work on smaller data.
</p>

<p>
    It's not enough to check that your program works only on the
    example inputs given in the task statement. Also test larger
    test cases (up to the highest values the input can be) as well
    as corner cases (which might not get tested if one only
    generates random test data).
</p>

<h3><a name="r2_ask">Ask Questions</a></h3>

<p>
    The best way to learn is to ask questions. For questions
    regarding administration and general matters, send an e-mail to
    <a href="mailto:info@olympiad.org.za">info@olympiad.org.za</a>.
    For training matters, please approach your IT teacher, or on of
    the many forums that deal with algorithms or specific languages.
</p>

<br>

<h2><a name="r3">Final Round</a></h2>

<p>
    The top ~15 contestants from the second round are invited to 
    participate in the final round of the SAPO. This is a lot tougher 
    than the second round, making preparation vital.
</p>

<h3><a name="r3_practice">Practice</a></h3>

<p>
    There is a large collection of past final round and even more
    challenging training camp problems available
    <a href="?page=pastpapers">here</a>. There is an online evaluation system
    for the problems going back to 2002 available
    <a href="cms/">here</a>, where you can submit solutions for
    evaluation. The evaluation system is the same as you will use
    for the final round, so it would be a good idea to become
    familiar with it beforehand.
</p>

<p>
    Continue churning through the USACO Training Program mentioned
    above. As you progress you will find that the problems quickly
    reach very challenging levels.
</p>

<h3><a name="r3_alg">Algorithms and Data Structures</a></h3>

<p>
    Algorithms and data structures become far more important in the
    final round. With a decent understanding of dynamic programming
    and graph theory you will do well.
</p>

<h3><a name="r3_contests">Other Contests</a></h3>

<p>
    Competitive programming has becoming very popular in recent
    years and there are now many programming contests.
    <a href="http://usaco.org/">USACO</a> hosts a number of contests,
    although none are between our first and final rounds.
    <a href="https://codeforces.com/">Codeforces</a> is another great
    platform which hosts a 2-3h contest every few days.
</p>

<br>

<h2>
    <a name="ioi">International Olympiad in Informatics (IOI)</a>
</h2>

<p>
    If you perform well enough at the final round then you will
    be invited to the training camps. This forms the basis of team
    selection for the IOI and if you make it this far, preparation will
    become much more intense.
</p>

<br>

<h2><a name="external_links">External links</a></h2>
<ul class="list-unstyled">
    <li>
        Other Olympiads and training facilities
        <ul>
            <li>
                <a href="https://www.ioinformatics.org/">IOI website</a>:
                This page has all past IOI problems, as well as
                links to many national and regional Olympiads.
            </li>

            <li>
                <a href="https://usaco.guide/">USACO Guide</a>:
                A free collection of curated, high-quality resources
                about many common techniques in programming olympiads,
                along with extensive problemsets to use for practise.
            </li>

            <li>
                <a href="http://cp-algorithms.com/">CP-Algorithms</a>:
                a resource to learn about competitive programming algorithms
                and data-structures. It is a translation of the Russian
                website <a href="https://e-maxx.ru/algo">e-maxx.ru/algo</a>.
            </li>

            <li>
                <a href="https://codeforces.com/">Codeforces</a>:
                hosts online contests once every few days. They have
                a rating system and most contests are in the afternoon
                in South African time.
            </li>

            <li>
                <a href="https://cses.fi/">CSES Problemset</a>:
                contains a collection of algorithm programming practice problems. 
                They also host some past papers of a few European Informatics olympiads.
            </li>

            <li>
                <a href="https://onlinejudge.org/">UVa online judge</a>: 
                has thousands of problems with online evaluation.
            </li>

            <li>
                <a href="https://oj.uz/problems">oj.uz</a>:
                An online judge that can be used to test solutions to
                many past IOI and other olympiad problems.
            </li>

            <li>
                <a href="http://icpc.global/">ICPC</a>: the
                big international university contest.
            </li>
        </ul>
    </li>
    <li>
        Programming books
        <ul>
            <li>
                <a href="https://goalkicker.com/">goalkicker.com</a> has a number of free ebooks on a range of different languages that could be of use. These include the following in their Notes for Professionals series:
                <ul>
                    <li><a href="https://goalkicker.com/AlgorithmsBook/">Algorithms</a></li>
                    <li><a href="https://goalkicker.com/PythonBook/">Python (700+ pages)</a></li>
                    <li><a href="https://goalkicker.com/CPlusPlusBook/">C++ (600+ pages)</a></li>
                    <li><a href="https://goalkicker.com/JavaBook/">Java (900+ pages)</a></li>
                </ul>
            </li>
            <li>
                <a href="http://www.amazon.com/exec/obidos/ASIN/0387948600/qid=1114695043/sr=2-1/ref=pd_bbs_b_2_1/104-3585769-4861558">The Algorithm Design Manual</a> [Amazon]
            </li>
            <li>
                <a href="http://www.amazon.com/exec/obidos/tg/detail/-/0387001638/qid=1062326238/sr=1-1/ref=sr_1_1/002-4681384-7920049?v=glance&amp;s=books">Programming Challenges</a> [Amazon]
            </li>
            <li>
                <a href="http://www.amazon.com/exec/obidos/tg/detail/-/0201066726/qid=1062324637/sr=1-12/ref=sr_1_12/002-4681384-7920049?v=glance&amp;s=books"
                >Algorithms</a> by Sedgewick [Amazon]
            </li>
        </ul>
    </li>
</ul>

