<p>
    Welcome to the official evaluation server of the South African Programming
    Olympiad! This server is used for running the second and third rounds of the
    South African Programming Olympiad. You can also practise past papers
    (including first rounds) and find a variety of other training material here.
</p>
<p>
    For more general information about the programming olympiad, you should
    visit the <a href="https://olympiad.org.za/programming-olympiad/" >official
    website</a>.
</p>

<br>

<h2>Contest Server</h2>
<p>
    Current and future contests are hosted on the Contest
    Server, as well as a selection of past contests intended for
    preparation purposes.
</p>
<div class="cms-link">
    <a href="cms/" class="btn btn-lg btn-outline-primary"
        >Enter Contest Server</a
    >
</div>
<p>
    For further help regarding the usage of the Contest Server, you can consult
    our <a href="docs/guide/cmsmanual.pdf">documentation manual</a> or
    watch the tutorial video below.
</p>

<br>

<div class="video-container">
    <iframe
        style="border: 3px solid #EEE;"
        width="90%"
        src="https://www.youtube.com/embed/YyXvIw9fXgA"
        allowfullscreen="allowfullscreen"
        mozallowfullscreen="mozallowfullscreen" 
        msallowfullscreen="msallowfullscreen" 
        oallowfullscreen="oallowfullscreen" 
        webkitallowfullscreen="webkitallowfullscreen">
    </iframe>
</div>
